.silver {
    color: #656565;
}

.task-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 12px;
    z-index: 100;
}

.task-bar-left,
.task-bar-center,
.task-bar-right {
    display: flex;
    gap: 8px;
}

.task-bar.bottom {
    bottom: 0;
}

.task-bar.top {
    top: 0;
}

.task-bar.left {
    left: 0;
}

.task-bar.right {
    right: 0;
}

/* common */
.task-color-transition {
    transition: color 0.3s ease-in-out;
}
  
.task-color-transition:hover {
    color: rgba(0, 0, 0, 0.6);
}
  
.task-background-transition {
    transition: background 0.3s ease-in-out;
}
  
.task-background-transition:hover {
    background: rgba(255, 255, 255, 0.15);
}

.task-background-transition:active {
    background: rgba(255, 255, 255, 0.15);
}

.task-bar .task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.task-bar .task-button img,
.task-bar .task-button .start-menu {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

/* common*/

.task-bar .task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: background 0.3s ease-in-out, color 0.15s ease-in-out;
}

.task-bar .task-button.active,
.task-bar .task-button:hover {
    background: rgba(255, 255, 255, 0.15);
}

.task-button:active {
    color: rgba(0, 0, 0, 0.6);
}

.task-calender {
    position: absolute;
}

.task-calender {
    border-radius: 4px;
}

.task-bar .weather-task-button,
.task-bar .task-bar-time {
    display: flex;
    flex-direction: column;
    width: initial;
    padding: 0 10px;
    font-size: 12px;
    gap: 4px;
}

.task-bar .weather-task-button {
    flex-direction: row;
    gap: 6px;
}

.task-bar .task-bar-time  .date,
.task-bar .task-bar-time  .time {
    width: 100%;
    text-align: right;
}

.task-bar .weather-icon-box img {
    height: 40px;
    object-fit: cover;
}

/* toggle-button-style */
.toggle-button-1 {

}

.toggle-button-1:hover {

}

.toggle-button-1:active {

}