.task-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 12px;
    z-index: 100;
}

.task-calendar,
.start-menu {
    z-index: 10;
}

.task-bar-left,
.task-bar-center,
.task-bar-right {
    display: flex;
    gap: 8px;
}

.task-bar.top {
    top: 0;
}

.task-bar.left {
    left: 0;
}

.task-bar.right {
    right: 0;
}

.task-bar.bottom {
    bottom: 0;
}

.task-color-transition {
    transition: color 0.3s ease-in-out;
}

.task-button:active,
.task-color-transition:hover {
    color: rgba(0, 0, 0, 0.6);
}
  
.task-background-transition {
    transition: background 0.3s ease-in-out;
}

.task-background-transition:active,
.task-background-transition:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* task-bar button */
.task-bar .task-button.active,
.task-bar .task-button:hover {
    background: rgba(255, 255, 255, 0.15);
}

.task-bar .task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    transition: background 0.3s ease-in-out, color 0.15s ease-in-out;
}

.task-bar .task-button img,
.task-bar .task-button .start-menu {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.task-bar .weather-task-button,
.task-bar .task-bar-time {
    display: flex;
    flex-direction: column;
    width: initial;
    padding: 0 10px;
    font-size: 12px;
    gap: 4px;
}

.task-bar .weather-task-button {
    flex-direction: row;
    gap: 6px;
}

.task-bar .task-bar-time  .format-date,
.task-bar .task-bar-time  .format-time {
    width: 100%;
    text-align: right;
}

.task-bar .weather-icon-box img {
    height: 40px;
    object-fit: cover;
}
/* task-bar button */

/* task */
.start-menu {
    position: absolute;
    border-radius: 4px;
}

.task-calendar {
    position: absolute;
    border-radius: 4px;
}

/* Calendar */
.task-calendar-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.task-calendar .task-calendar-wrap > header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.task-calendar .calendar-view {
    flex: 1;
    padding: 8px;
}

.task-calendar .calendar-view-header {
    display: flex;
    justify-content: space-between;
}

.task-calendar .year-month-button {
    flex: 1;
    padding: 8px;
    text-align: left;
}

.task-calendar .days {
    display: inline-grid;
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
    width: 100%;
}

.task-calendar .day {
    text-align: center;
    padding: 8px;
}

.task-calendar .move-date {
    padding: 8px;
}

.calendar-button-container > button,
.calendar-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Calendar */


/* task */